.card {
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    border-radius: 7px;


    width: 25rem;
    min-height: 18rem;
    margin: 1.5rem;

    .header {
        background-color: var(--primary);
        border-radius: 0px 0px 4px 4px;
        height: 2.2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        h4 {
            font-weight: 400;
        }
    }

    .body {
        padding: 1rem;
    }

    .footer {
        margin-top: auto;
    }
}