<div class="card card-default card-page">
  <div class="up-card-page"></div>
  <div class="row">
    <div class="col-sm-6 title-card">
      <h1 class="titulo-pagina">Agendamento</h1>
    </div>
    <div class="add-button col-sm-2 row-button">
      <a (click)="newScheduling()" class="button-content"
        ><i class="material-symbols-outlined size-button">add_circle</i
        >Adicionar</a
      >
    </div>
  </div>

  <div class="card-body"></div>
  <div class="table-body">
    <table>
      <tr>
        <th class="text-center" width="50px">Nº</th>
        <th>CLIENTE</th>
        <th>RESPONSÁVEL</th>
        <th class="text-center">STATUS</th>
        <th class="text-center">DATA</th>
        <th class="text-center">HORA</th>
        <th>OBSERVAÇÕES</th>
        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
      <tr *ngFor="let item of scheduling">
        <td class="text-center">
          {{ item.id }}
        </td>

        <td>{{ item.cliente.nome }}</td>
        <td>{{ item.responsavel.nome }}</td>
        <td class="text-center center-align">
          <div
            class="status-grid"
            [class.confirmed]="item.status === 0"
            [class.done]="item.status === 1"
            [class.cancel]="item.status === 2"
          >
            {{ getStatusDescription(item.status) }}
          </div>
        </td>
        <td class="text-center">
          {{ item.dataAgendamento | date : "dd/MM/yyyy" }}
        </td>
        <td class="text-center">
          {{
            item.horaAgendamento.split(":")[0] +
              ":" +
              item.horaAgendamento.split(":")[1]
          }}
        </td>
        <td>{{ item.observacoes }}</td>
        <td class="text-center" [width]="50">
          <a>
            <i class="material-symbols-outlined button-edit">edit</i>
          </a>
        </td>
        <td class="text-center" [width]="50">
          <a>
            <i class="material-symbols-outlined button-delete">delete</i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
