.input-table-number {
  width: 3rem;
  height: 2rem;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border-width: thin;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.text-block {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
}

th,
td {
  padding: 10px;
  font-size: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: 800;
}

tr:hover {
  background-color: #ddd;
}

.add-button {
  margin-top: 25px;
}

.row-button {
  margin-right: 2rem;
}

.material-symbols-outlined[_ngcontent-ng-c4243156579] {
  color: #ffffff;
  font-size: 20px;
}

.title-card {
  margin-left: 1rem;
}

a:hover {
  color: #688dff;
}

.button-edit {
  color: #007bff;
  cursor: pointer;
}

.button-delete {
  color: #f52d51ba;
  cursor: pointer;
}

.button-edit:hover {
  color: #688dff;
}

.button-delete:hover {
  color: #ee5772b5;
}

.row {
  justify-content: space-between;
}

.up-card-page {
  height: 8px;
  border-radius: 0px 0px 74px 74px;
  background: var(--Primary, #007bff);
}

.size-button {
  font-size: 1.4rem;
}

.status-grid {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2rem;
  margin-left: 0px !important;
  width: 50%;
}

.confirmed {
  background: #d9de41;
}

.done {
  background: #32bd75;
}

.cancel {
  background: #c93a3a;
}

.center-align {
  display: flex;
  place-content: center;
}
