.menu-container {
  width: 200px;
  height: 100%;
  background-color: #1b1b1b;
  padding: 20px;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item:hover {
  color: #fff;
  background-color: #333;
}
