<nav class="nav">
  <i class="bx bx-menu" (click)="toggleSidebar()"></i>
  <form action="#">
    <div class="form-input">
      <input type="search" placeholder="Pesquisar..." />
      <button class="search-btn" type="submit">
        <i class="bx bx-search"></i>
      </button>
    </div>
  </form>

  <label class="switch" for="theme-toggle">
    <input
      type="checkbox"
      id="theme-toggle"
      [(ngModel)]="isThemeDarkEnabled"
      (ngModelChange)="theme()"
      [ngClass]="{ dark: isThemeDarkEnabled }"
    />
    <span class="slider"></span>
  </label>

  <a href="#" class="notif">
    <i class="bx bx-bell"></i>
    <span class="count">12</span>
  </a>
  <a href="#" class="profile">
    <img src="../assets/images/logo-test.png" />
  </a>
</nav>
