<div class="sidebar">
  <a href="#" class="logo">
    <img class="img-size" src="../assets/images/logo-will.png">
  </a>
  <ul class="side-menu">
      <li routerLink="/dashboard" class="active"><a><i class='bx bxs-dashboard'></i>Dashboard</a></li>
      <li routerLink="/scheduling"><a><i class='bx bx-calendar-check'></i>Agendamentos</a></li>
      <li routerLink="/customers"><a><i class='bx bx-group'></i>Clientes</a></li>
      <li routerLink="/servicos"><a><i class='bx bx-receipt'></i>Serviços</a></li>
      <li routerLink="/finance"><a><i class='bx bx-dollar-circle'></i>Financeiro</a></li>
      <li routerLink="/scheduling"><a><i class='bx bx-cog' ></i>Configurações</a></li>
  </ul>
  <ul class="side-menu">
      <li>
          <a href="#" class="logout">
              <i class='bx bx-log-out-circle'></i>
              Sair
          </a>
      </li>
  </ul>
</div>
