<form [formGroup]="customersForm">
  <div class="card card-default card-page">
    <div class="up-card-page-gray"></div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="titulo-pagina">Adicionar cliente</h1>
        </div>
      </div>
      <fieldset>
        <div class="form-group row">
          <div class="mb-3">
            <div class="form-group row">
              <div class="col-lg-5">
                <label>Nome </label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="nome"
                  maxlength="50"
                  placeholder="Digite aqui"
                  [(ngModel)]="customer.nome"
                />
              </div>

              <div class="col-lg-3">
                <label> Data de nascimento </label>
                <input
                  class="form-control"
                  [(ngModel)]="customer.dataNascimento"
                  type="date"
                  formControlName="dataNascimento"
                  maxlength="50"
                  placeholder="Digite aqui"
                  readonly
                />
              </div>

              <div class="col-lg-4">
                <label>Telefone </label>
                <input
                  class="form-control"
                  [(ngModel)]="customer.telefone"
                  type="text"
                  formControlName="telefone"
                  maxlength="50"
                  placeholder="Digite aqui"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group row">
              <div class="col-lg-4">
                <label>Email </label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="email"
                  maxlength="50"
                  placeholder="Digite aqui"
                  [(ngModel)]="customer.email"
                />
              </div>
              <div class="col-lg-2">
                <label>Cep</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="cep"
                  maxlength="50"
                  placeholder="Digite aqui"
                  [(ngModel)]="customer.cep"
                />
              </div>
              <div class="col-lg-4">
                <label>Cidade</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="cidade"
                  maxlength="50"
                  placeholder="Digite aqui"
                  [(ngModel)]="customer.cidade"
                />
              </div>
              <div class="col-lg-2">
                <label>Estado</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="estado"
                  maxlength="50"
                  placeholder="Digite aqui"
                  [(ngModel)]="customer.estado"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex row">
          <div class="upload-button upload-button-content mr-3 ml-3 col-lg-4">
            <a (click)="goBack()" class="upload-button-content-inside">
              Cancelar
            </a>
          </div>
          <div class="add-button col-lg-4">
            <a class="button-content"> Adicionar</a>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
