<form class="form border border-dark" [formGroup]="customersForm">
    <div class="modal-header">
      <span class="modal-title">{{ title }}</span>
      <button
        type="button"
        class="close close-button"
        data-dismiss="modal"
        aria-label="Fechar"
        (click)="closeModal(false)"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div>
        <ng-select [items]="cities"
                   bindLabel="name"
                   placeholder="Select city"
                   [(ngModel)]="selectedCity">
        </ng-select>
    </div>

    <div class="row">
      <div class="col">
        <label></label>
      </div>

    </div>
  
    <button (click)="formData()">{{ buttonTitle }}</button>
  </form>
  