<form [formGroup]="shcedulingForm">
  <div class="card card-default card-page">
    <div class="up-card-page-gray"></div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="titulo-pagina">Agendar</h1>
        </div>
      </div>
      <fieldset>
        <div class="form-group row">
          <div class="col-lg-3">
            <label>Cliente </label>
            <ng-select
              [items]="customers"
              bindLabel="nome"
              bindValue="id"
              formControlName="idCliente"
            ></ng-select>
          </div>
          <div class="col-lg-3">
            <label>Responsável </label>
            <ng-select
              [items]="responsibles"
              bindLabel="nome"
              bindValue="id"
              formControlName="idResponsavel"
            ></ng-select>
          </div>
        </div>
        <div class="form-group row mb-3">
          <div class="col-lg-3">
            <label> Data do agendamento </label>
            <input
              class="form-control"
              type="date"
              formControlName="dataAgendamento"
              maxlength="50"
            />
          </div>
          <div class="col-lg-3">
            <label> Hora do agendamento </label>
            <input
              class="form-control"
              type="time"
              formControlName="horaAgendamento"
              maxlength="50"
            />
          </div>
        </div>
        <div class="form-group row mb-3">
          <div class="col-lg-6">
            <label> Observações </label>
            <input
              class="form-control"
              type="text"
              formControlName="observacoes"
              maxlength="100"
            />
          </div>
        </div>
        <div class="d-flex row buttons-bottom">
          <div class="upload-button cancel-button col-lg-2">
            <a (click)="goBack()" class="cancel-button-content"> Cancelar </a>
          </div>
          <div
            class="add-button col-lg-2"
            (click)="
              isEdit ? updateScheduling(this.id, scheduling) : addScheduling()
            "
          >
            <a class="button-content"> {{ isEdit ? "Salvar" : "Adicionar" }}</a>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
