<div class="select">
    <div id="category-select">
        <label for="options-view-button">Clientes</label>
        <input type="checkbox" id="options-view-button">

        <div id="select-button">
            <div id="selected-value">Selecione o cliente</div>

            <div id="chevrons">
                <i class='bx bxs-chevron-up' ></i>
                <i class='bx bxs-chevron-down' ></i>
            </div>
        </div>
    </div>


    <ul id="options">
        <li class="option">
            <input 
                type="submit"
                name="category"
                value="Dados"
                >
        </li>
        <li class="option">
            <input 
                type="submit"
                name="category"
                value="Dados"
                >
        </li>
    </ul>
        

</div>

<script src="https://unpkg.com/lucide@latest"></script>