<!-- <div>
  <table id="customers">
    <thead>
      <tr>
        <th>Teste</th>
        <th>Teste</th>
        <th>Teste</th>
        <th>Teste</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of dataTable">
        <th>{{ item.position }}</th>
        <th>{{ item.name }}</th>
        <th>{{ item.weight }}</th>
        <th>{{ item.symbol }}</th>
      </tr>
    </tbody>
  </table>
</div> -->

<head>
  <meta charset="UTF-8" />
  <title>Objeto em translação</title>
</head>

<body>
  <button type="button" class="btn btn-primary">Button</button>
  <canvas id="canvas" width="400" height="400"></canvas>
  <div id="triangle" class="triangle"></div>
  <script src="script.js"></script>
</body>
