<div class="grid-container">
  <div class="card1">
    <div class="mini-card1 grid-card" (click)="goTo('scheduling')">
      <div class="area1">
        <img src="../../assets/icons/clipboard.svg" alt="Ícone SVG" class="icon-card">
      </div>
      <div class="area2">
        AGENDAMENTOS HOJE
      </div>
      <h1 class="area3">
        32
      </h1>
      <div class="area4">
        <img src="../../assets/icons/add.svg" alt="Ícone SVG" class="icon-card-add">
      </div>
    </div>
  </div>

  <div class="card card2">
    <div class="mini-card1 grid-card" (click)="goTo('customers')">
      <div class="area1">
        <img src="../../assets/icons/user.svg" alt="Ícone SVG" class="icon-card">
      </div>
      <div class="area2">
        CLIENTES CADASTRADOS
      </div>
      <h1 class="area3">
        67
      </h1>
      <div class="area4" (click)="openModal()">
        <img src="../../assets/icons/add.svg" alt="Ícone SVG" class="icon-card-add">
      </div>
    </div>
  </div>

  <div class="card card3">
    <div class="mini-card1 grid-card" (click)="goTo('servicos')">
      <div class="area1">
        <img src="../../assets/icons/checklist.svg" alt="Ícone SVG" class="icon-card">
      </div>
      <div class="area2">
        SERVIÇOS
      </div>
      <h1 class="area3">
        12
      </h1>
      <div class="area4">
        <img src="../../assets/icons/add.svg" alt="Ícone SVG" class="icon-card-add">
      </div>
    </div>
  </div>

  <div class="card card4">
    <div class="mini-card1 grid-card">
      <div class="area1">
        <img src="../../assets/icons/calendar.svg" alt="Ícone SVG" class="icon-card">
      </div>
    </div>
  </div>
</div>
<div class="grid-container2">
  <div class="card">asdasdasdd</div>
  <div class="card">pppppppppp</div>
</div>
