<!-- <app-calendar></app-calendar>
<app-navbar></app-navbar> -->

<!-- <div class="grid-container">
  <app-navbar></app-navbar>

  <div class="content">
    <app-calendar></app-calendar>
  </div>
</div> -->


<!-- <div class="grid-container">
  <div class="item1">Header</div>
  <div class="item2">Menu</div>
  <div class="item3">Main</div>
  <div class="item4">Right</div>
  <div class="item5">Footer</div>
</div> -->

  <div>
  <h1>grid-template-areas (coluna e linha)</h1>
  <section class="grid grid-template-areas-4">
    <div class="item logo">logo</div>
    <div class="item nav">nav</div>
    <div class="item content">content</div>
    <div class="item sidenav">sidenav</div>
    <div class="item advert">advert</div>
    <div class="item footer">footer</div>
  </section>
  </div>
