<div class="dashboard">
  <div class="header">
    <div class="left">
      <h1>Dashboard</h1>
      <!-- <ul class="breadcrumb">
            <li><a href="#">
                    Analytics
                </a></li>
            /
            <li><a href="#" class="active">Shop</a></li>
        </ul> -->
    </div>
  </div>

  <ul class="insights">
    <li>
      <i class="bx bx-calendar-check"></i>
      <span class="info">
        <h3>20</h3>
        <p>Agendamentos</p>
      </span>
    </li>
    <li>
      <i class="bx bx-group"></i>
      <span class="info">
        <h3>30</h3>
        <p>Clientes</p>
      </span>
    </li>
    <li>
      <i class="bx bx-receipt"></i>
      <span class="info">
        <h3>20</h3>
        <p>Serviços</p>
      </span>
    </li>
    <li>
      <i class="bx bx-dollar-circle"></i>
      <span class="info">
        <h3>R$6.350,00</h3>
        <p>Financeiro</p>
      </span>
    </li>
  </ul>

  <div class="bottom-data">
    <div class="orders">
      <div class="header">
        <i class="bx bx-receipt"></i>
        <h3>Atendimentos</h3>
        <i class="bx bx-filter"></i>
        <i class="bx bx-search"></i>
      </div>
      <table>
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Data</th>
            <th>Situação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img src="../assets/images/profile.png" />
              <p>William Moreli</p>
            </td>
            <td>14/08/2023 - 11:00</td>
            <td><span class="status completed">Finalizado</span></td>
          </tr>
          <tr>
            <td>
              <img src="../assets/images/profile.png" />
              <p>Fulano de Tal</p>
            </td>
            <td>14/08/2023 - 08:00</td>
            <td><span class="status pending">Pendente</span></td>
          </tr>
          <tr>
            <td>
              <img src="../assets/images/profile.png" />
              <p>Cliente Teste</p>
            </td>
            <td>14/08/2023 - 09:00</td>
            <td><span class="status process">Em atendimento</span></td>
          </tr>
          <tr>
            <td>
              <img src="../assets/images/profile.png" />
              <p>Cliente Teste 2</p>
            </td>
            <td>14/08/2023 - 10:00</td>
            <td><span class="status canceled">Cancelado</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="reminders">
      <div class="header">
        <i class="bx bx-note"></i>
        <h3>Lembretes</h3>
        <i class="bx bx-filter"></i>
        <i class="bx bx-plus"></i>
      </div>
      <ul class="task-list">
        <li class="completed">
          <div class="task-title">
            <i class="bx bx-check-circle"></i>
            <p>Verificar ar-condicionados</p>
          </div>
          <i class="bx bx-dots-vertical-rounded"></i>
        </li>
        <li class="completed">
          <div class="task-title">
            <i class="bx bx-check-circle"></i>
            <p>Trocar carpete</p>
          </div>
          <i class="bx bx-dots-vertical-rounded"></i>
        </li>
        <li class="not-completed">
          <div class="task-title">
            <i class="bx bx-x-circle"></i>
            <p>Fechar faturamento</p>
          </div>
          <i class="bx bx-dots-vertical-rounded"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
