@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
// @import "ngx-toastr/toastr";
:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bx {
  font-size: 1.7rem;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
}

body {
  background-color: var(--grey) !important;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.bx {
  font-size: 1.5rem;
}

button {
  border-inline: none;
  border-block: none;
  background: none;
}

ol,
ul {
  padding-left: 0 !important;
}

.app-color-blue-1 {
  color: #346ee1;
}

.app-color-blue-3 {
  color: #a0b4d6;
}

.app-color-black {
  color: #3e4350;
}

.app-color-gray-1 {
  color: #949aa7;
}

.app-color-red {
  color: #949aa7;
}

.app-bg-blue-1 {
  background: #346ee1;
}

.app-bg-blue-2 {
  background: #f5f9fc;
}

.app-button-shadow {
  box-shadow: 0px 5px 10px 0px rgb(145 167 210 / 25%);
}

.app-bg-blue-3 {
  background: #4a7ae5;
}

.app-bg-blue-4 {
  background: #518aea;
}

.app-bg-white-1 {
  background: #f4f8f9;
}

.app-color-yellow-1 {
  color: #d7ac67;
}

.app-bg-yellow-2 {
  background: #fff9eb;
}

.app-bg-yellow-3 {
  background: #ffbe4e;
}

.app-color-red-1 {
  color: #e0899c;
}

.app-bg-red-2 {
  background: #fef5f6;
}

.app-color-green {
  color: #0cbda8;
}

.ng-dropdown-panel {
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
    100px 100px 80px rgba(0, 0, 0, 0.03);
  padding: 10px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  margin-bottom: 5px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),
    100px 100px 80px rgba(0, 0, 0, 0.03);
  padding: 10px;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  position: relative !important;
  left: 0;
  width: 100%;
}

.arrow-icon::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}