<div class="container">
  <div class="row">
    <button class="learn-more" (click)="mesAnterior()">
      <span class="circle-back" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
    </button>

    <h3>{{ dataSelecionada.format("MMMM YYYY") }}</h3>

    <button class="learn-more" (click)="mesSeguinte()">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
    </button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>DOM</th>
        <th>SEG</th>
        <th>TER</th>
        <th>QUA</th>
        <th>QUI</th>
        <th>SEX</th>
        <th>SÁB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let semana of semanas">
        <td *ngFor="let dia of semana" (click)="selecionarData(dia)">
          <div
            [ngClass]="{
              'dia-selecionado': dia.isSame(dataSelecionada, 'day'),
              'dia-mes-atual': dia.isSame(hoje, 'month'),
              'dia-outro-mes': !dia.isSame(dataSelecionada, 'month')
            }"
          >
            {{ dia.date() }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
