.container {
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  background-color: #333;
  border-radius: 10%;
  padding: 10px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

th {
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
}

.dia-mes-atual {
  color: #fff;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  font-weight: bold;
  position: relative;
}

.dia-outro-mes {
  color: #8b8b8b;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  font-weight: bold;
  position: relative;
}

.dia-selecionado {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  font-weight: bold;
  position: relative;
}

button {
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .circle-back .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(-135deg);
}

.start {
  align-self: flex-start;
}

.end {
  align-self: flex-end;
}

.td {
  appearance: auto !important;
  display: none;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #fff;
}

.mes {
  flex-direction: flex;
}
