<div class="container">
  <h1>Calendário</h1>
  <div class="row">
    <div class="col">
      <h3>{{ dataSelecionada.format("MMMM YYYY") }}</h3>
    </div>

    <div class="col">
      <button class="btn btn-primary" (click)="mesAnterior()">Anterior</button>
    </div>
    <div class="col">
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
      </button>
    </div>

    <div class="col end">
      <button class="btn btn-primary" (click)="mesSeguinte()">Próximo</button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Domingo</th>
        <th>Segunda-feira</th>
        <th>Terça-feira</th>
        <th>Quarta-feira</th>
        <th>Quinta-feira</th>
        <th>Sexta-feira</th>
        <th>Sábado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let semana of semanas">
        <td *ngFor="let dia of semana" (click)="selecionarData(dia)">
          <div
            [ngClass]="{
              'dia-selecionado': dia.isSame(dataSelecionada, 'day'),
              'dia-mes-atual': dia.isSame(hoje, 'month'),
              'dia-outro-mes': !dia.isSame(dataSelecionada, 'month')
            }"
          >
            {{ dia.date() }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
