<div class="card card-default card-page">
  <div class="up-card-page"></div>
  <div class="row">
    <div class="col-sm-6 title-card">
      <h1 class="titulo-pagina">Responsáveis</h1>
    </div>
    <div class="add-button col-sm-2 row-button">
      <a (click)="newResponsible()" class="button-content"
        ><i class="material-symbols-outlined size-button">add_circle</i
        >Adicionar</a
      >
    </div>
  </div>

  <div class="card-body"></div>
  <div class="table-body">
    <table>
      <tr>
        <th class="text-center">CÓDIGO</th>
        <th>NOME</th>
        <th>SEXO</th>
        <th>E-MAIL</th>
        <th class="text-center">TELEFONE</th>

        <th class="text-center">DATA NASCIMENTO</th>

        <th class="text-center"></th>
        <th class="text-center"></th>
      </tr>
      <tr *ngFor="let responsible of responsibles">
        <td class="text-center">
          {{ responsible.id }}
        </td>
        <td>{{ responsible.nome }}</td>
        <td>{{ responsible.sexo }}</td>
        <td>{{ responsible.email }}</td>
        <td class="text-center">
          {{ formatarNumeroTelefone(responsible.telefone) }}
        </td>

        <td class="text-center">
          {{ responsible.dataNascimento | date : "dd/MM/yyyy" }}
        </td>
        <td class="text-center">
          <a (click)="editResponsible(responsible)">
            <i class="material-symbols-outlined button-edit">edit</i>
          </a>
        </td>
        <td class="text-center">
          <a (click)="openConfirmationModal(responsible.id)">
            <i class="material-symbols-outlined button-delete">delete</i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-loading *ngIf="loading"></app-loading>
